<p style="font-family:Calibri;font-size:14;">
亲爱的<b>$mail.name</b>：
</p>
<p>
您不小心忘记<a href="$mail.web">波菜</a>的密码了吗？请猛击以下网址修改您的密码：<br/>
<a href="$mail.link">$mail.link</a><br/>
</p>
波菜小组<br/>
${date.format('yyyy/MM/dd HH:mm:ss', $mail.createAt)}<br/>
* 此邮件由波菜系统发送，请勿回复