@charset "utf-8";

/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}

table {
	border: 0px;
	border-collapse: collapse
}

dd,td {
	padding: 0px
}

dd {
	margin: 0;
}

ol,ul {
	list-style: none outside none;
}

html,body {
	font-size: 12px;
	font-family: Verdana, Tahoma, Hei, "宋体", Helvetica, Arial, sans-serif;
	line-height: 1;
	height: 100%;
	margin: 0;
	padding: 0;
}

.bodyContainer {
	min-height: 100%;
	position: relative;
}

li {
	list-style: none
}

input.text {
	cursor: text;
	padding: 4px;
}

img,fieldset {
	border: medium none;
}

div {
	font-family: Arial, Verdana, Tahoma, Hei, "宋体", Helvetica, sans-serif;
}

h1 {
	color: #96AF4B;
	font-family: Arial, Verdana, Tahoma, Hei, "宋体", Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 100;
	letter-spacing: 1px;
}

strong {
	font-weight: bold;
}

small {
	font-size: 85%;
}

.clearfix {
	
}

/*div{ overflow:hidden}*/
.clear {
	clear: both;
	height: 0;
	overflow: hidden
}

a:link,a:visited {
	text-decoration: none;
	color: #5C7E27;
}

a:hover {
	text-decoration: underline;
}

/*head start*/
.headout {
	min-width: 960px;
	width: 100% !important;
	width: 100%;
	height: 61px;
	background: url(../images/l_head1_2.jpg) repeat-x
}

.head {
	width: 960px;
	height: 61px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top: 12px;
	display: inline
}

.nav {
	float: left;
	margin-top: 19px;
	margin-left: 45px;
	letter-spacing: 1px;
}

.nav li {
	float: left;
	margin-right: 2px;
}

.nav a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	width: 84px;
	height: 32px;
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
}

a.a1 {
	color: #FFF;
	background: url(../images/l_head1_8.jpg) no-repeat;
}

a.a1:HOVER{text-decoration: none;}

a.a2 {
	color: #CCC;
	background: url(../images/l_head1_10.jpg) no-repeat;
}

a.a2:hover {
	color: #FFF;
	background: url(../images/l_head1_81.jpg) no-repeat;
	text-decoration: none
}

.usercenter {
	float: right;
	margin-top: 13px;
	display: inline;
}

.usercenter .wel_li {
	margin-top: 6px;
	color: #FFF;
	align: right;
}

a.ahelpc {
	color: #FFF;
	margin-left: 0px;
}

a.ahelpc_re_login {
	color: #FFF;
	margin-left: 0px;
	margin-left: 5px;
}

a.ahelpc_re {
	color: #FFF;
}
/*head end*/
/*foot start*/
.footout {
	background-color: #B9AB89;
	min-width: 960px;
	width: 100% !important;
	height: 60px;
	border-top: #E6E6E6 solid 1px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.foot {
	width: 960px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	padding: 5px;
	margin-bottom: 20px;
}

.footnav {
	width: 420px;
	height: auto;
	margin: 0 auto;
	margin-top: 11px;
}

.footnav a {
	float: left;
	color: #fff;
}

.footnav span {
	float: left;
	color: #fff;
	margin: 0 6px 0 6px
}

.footnavCopy{
	width: 235px;
	height: auto;
	margin: 0 auto;
	margin-top: 11px;
}

.footnavCopy a {
	float: left;
	color: #fff;
}

.footnavCopy span {
	float: left;
	color: #fff;
	margin: 0 6px 0 6px
}

.footerout {
    height: 200px;
    margin: 30px 0 0;
    overflow: hidden;
    padding: 245px 0 0;
    width: 100%
}
.footerout .footer {
    background: url("../images/sediment.png") repeat-x scroll center top transparent;
    position: relative;
}

.footerout .footer .creatures {
    background: url("../images/creatures.png") no-repeat scroll center center transparent;
    height: 365px;
    margin: 0 auto;
    position: relative;
    top: -277px;
}

.footerout .footer .footnav {
    margin: 0 auto;
    position: relative;
    top: -215px;
}

.footerout .footer .footnavCopy {
    margin: 0 auto;
    position: relative;
    top: -205px;
}

/*foot end*/

/*404*/
div.contentout_404 {
	min-height:400px;
	height: auto;
	min-width: 960px;
	width: 100% !important;
}
div.contentout_404 .img404_sad{
	background: url("../images/kidmondo_face_sad.gif") no-repeat scroll center center transparent;
	float:left;
	width:271px;
	height:272px;
}

div.content_404 {
	width: 960px;
	margin: 50px auto;
	height: auto;
	overflow: hidden;
}

div.word_404 {
	font-size:18px;
    height: 200px;
    padding-top:20px;
    width: 70%;
   	float:right;
}
div.word_404 p{
	height:30px;
	padding:2px;
	margin:20px;
}

form.default .text-box {
	background-color: white;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	cursor: text !important;
	float: left;
	margin-right: 7px;
	padding: 6px 10px;
	position: relative;
	width: 265px;
}

form.default .text-box textarea {
	background: none repeat scroll 0 0 transparent;
	height: 80px;
}

form.default .text-box input,form.default .text-box textarea {
	border: medium none;
	margin: 0 !important;
	padding: 0;
}

form.default .text-box label,form.default .text-box input,form.default .text-box textarea
	{
	font-family: inherit;
	font-size: 15px;
	line-height: 18px;
	width: 260px;
}

address {
	color: #777777;
	font-style: normal;
}

#simplemodal-overlay {
	background-color: #000;
}

.errorMessage li {
	padding: 2px;
}

.follow-button {
	background: none repeat scroll 0 0 #80A545;
	border: 1px solid #6D8F29;
	border-radius: 5px 5px 5px 5px;
	color: white !important;
	cursor: pointer;
	display: block;
	font-weight: 300;
	text-align: center;
	font-size: 1em;
	height: 20px;
	line-height: 20px;
	font-weight: normal;
	vertical-align: middle;
	min-width:60px;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
}
.unfollow-button {
	color:#888888!important;	
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #DDDDDD;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	display: block;
	font-weight: 300;
	text-align: center;
	font-size: 1em;
	height: 20px;
	line-height: 20px;
	font-weight: normal;
	vertical-align: middle;
	min-width:60px;
	letter-spacing:1px;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
}

.mailAutoTip {
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 3px 3px 3px 3px;
	background: #fff;
	z-index: 10000;
}

.mailAutoTip li {
	height: 24px;
	line-height: 24px;
	color: #777;
}

.mailAutoTip li a {
	display: block;
	height: 24px;
	padding-left: 5px;
	overflow: hidden;
	color:#808080;
}

.mailAutoTip li a:hover,.mailAutoTip li.on a {
	background: #F0EEDF;
	font-size:120%;
	font-weight:bold;
	text-decoration: none;
	color:#5C7E27;
}
.bcbutton{
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    letter-spacing:1px;
    background: none repeat scroll 0 0 #80A545;
    border: 1px solid #6D8F29;
    border-radius: 5px 5px 5px 5px;
    color: white !important;
	cursor: pointer;
	vertical-align:middle;
	font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    text-align:center;
}
