li.person{
	border-bottom: 1px solid #E1DCC8;
    margin: 0 !important;
    padding: 15px;
}

li.person.first{
    border-top: none;
}

li.person.last{
    border-bottom: none;
}

li.error{
	border-bottom: 1px solid #E1DCC8;
    border-top: 1px solid white;
    margin: 0 !important;
    padding: 15px;
    text-align: center;
}

li.person.first{
	border-top: 0 none
}

.right {
    float: right !important;
     margin-right: 20px;
}

li.person .avatar {
    float: left;
    height: 50px;
    width: 50px;
}

li.person .avatar img {
    border-radius: 5px 5px 5px 5px;
}

li.person .details {
    color: #555555;
    margin-left: 65px;
}

li.person .details .hsubgroup {
    margin-bottom: 10px;
    font-size:110%;
}

li.person .details .hsubgroup a{
    color: #000000;
}
li.person .details .hsubgroup strong {
    color: #5C7E27;
}

li.person .details .bio {
    height: auto;
    min-height: 30px;
    line-height:18px;
    width: 80%;
}