@charset "utf-8";

/* CSS Document */
.gx {
    background: none repeat scroll 0 0 #FC4C10;
    color: #FFFFFF;
    font-size: 11px;
    margin: 0 0 0 3px;
    padding: 1px 5px;
    vertical-align: top;
}
.o {
    border-radius: 30px 30px 30px 30px;
}

.user_contentout {
	height: auto;
	min-width: 960px;
	width: 100% !important;
	width: 100%;
	background: #fff;
	padding-bottom: 60px;
}

.user_content {
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
	height: auto;
	overflow: hidden;
}

.user_content_left {
	float: left;
	width: 658px;
	height: auto;
	overflow: hidden;
}

.user_content_right {
	float: left;
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-left: 12px;
}

.user_content_left_a {
	width: 658px;
	height: 30px;
	padding-top:2px;
	overflow: hidden;
}

.user_content_left_a .s1 {
	float: left;
	font-size: 24px;
	margin-left:7px;
	font-weight: bold
}

.user_content_left_a .s2 {
	float: left;
	color: #A6A6A4;
	margin-left: 28px;
	margin-top: 10px;
	font-weight: bold
}

.user_content_left_b {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 658px;
	height: auto;
	overflow: hidden
}




/*1-left*/
.ms_1_le_div_a {
	width: 280px;
	height: 35px;
	display: none
}

.ms_1_le_div_b {
	width: 280px;
	height: 35px;
}

.ms_1_le_div_c {
	position: absolute;
	margin-top: 0;
	_margin-top: -12px;
	width: 277px;
	height: auto;
	overflow: hidden;
	background: #FFF;
	border: #CCC solid 1px;
	display: none
}

.ms_1_le_div_c .li1 .s1 {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.ms_1_le_div_c .li1 .s2 {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.ms_1_le_div_c .li3 {
	height: 5px;
	width: 277px;
	clear: both
}

.ms_1_le_div_b .inputa {
	width: 279px;
	height: 35px;
	border: none;
	background: url(../images/index_fx1_7.jpg) no-repeat;
	padding: 10px 0 0 15px;
	color: #A1A1A1
}

/*1-right*/
.ms_1_ri_div_a {
	width: 280px;
	height: 35px;
	display: none
}

.ms_1_ri_div_b {
	width: 280px;
	height: 35px;
}

.ms_1_ri_div_c {
	position: absolute;
	margin-top: 0;
	_margin-top: -12px;
	width: 278px;
	height: auto;
	overflow: hidden;
	background: #FFF;
	border: #CCC solid 1px;
	display: none
}

.ms_1_ri_div_c .li1 .s1 {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.ms_1_ri_div_c .li1 .s2 {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.ms_1_ri_div_c .li3 {
	height: 5px;
	width: 278px;
	clear: both
}

.ms_1_ri_div_b .inputa {
	width: 279px;
	height: 35px;
	border: none;
	background: url(../images/index_fx1_7.jpg) no-repeat;
	padding: 10px 0 0 15px;
	color: #A1A1A1
}


/*3-left*/
.ms_3_le_div_a {
	width: 215px;
	height: 35px;
	display: none
}

.ms_3_le_div_b {
	width: 215px;
	height: 35px;
}

.ms_3_le_div_c {
	position: absolute;
	margin-top: 0;
	_margin-top: -12px;
	width: 213px;
	height: auto;
	overflow: hidden;
	background: #FFF;
	border: #CCC solid 1px;
	display: none
}

.ms_3_le_div_c .li1 .s1 {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.ms_3_le_div_c .li1 .s2 {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.ms_3_le_div_c .li3 {
	height: 5px;
	width: 213px;
	clear: both
}

.ms_3_le_div_b .inputa {
	width: 215px;
	height: 35px;
	border: none;
	background: url(../images/index_fx1_17.jpg) no-repeat;
	padding: 10px 0 0 15px;
	color: #A1A1A1
}

/*3-right*/
.ms_3_ri_div_a {
	width: 366px;
	height: 35px;
	display: none
}

.ms_3_ri_div_b {
	width: 366px;
	height: 38px;
}

.ms_3_ri_div_c {
	position: absolute;
	margin-top: 0;
	_margin-top: -12px;
	width: 363px;
	height: auto;
	overflow: hidden;
	background: #FFF;
	border: #CCC solid 1px;
	display: none
}

.ms_3_ri_div_c .li1 .s1 {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.ms_3_ri_div_c .li1 .s2 {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.ms_3_ri_div_c .li3 {
	height: 5px;
	width: 363px;
	clear: both
}

.ms_3_ri_div_b .inputa {
	width: 366px;
	height: 35px;
	border: none;
	background: url(../images/index_fx1_19.jpg) no-repeat;
	padding: 10px 0 0 15px;
	color: #A1A1A1
}

.user_content_left_c {
	margin-bottom: 5px;
	width: 658px;
	margin-left:3px;
	height: auto;
	overflow: hidden;
	font-size:13px;
}

.genduomeishi1 {
	width: 654px;
	height: 29px;
	background: url(../images/place_1_55.jpg) no-repeat;
	margin-top: 10px;
	overflow: hidden
}

.genduomeishi1 .sle {
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin: 9px 0 0 20px;
}

.genduomeishi1 .sri {
	float: right;
	margin: 10px 5px 0 0;
}

.genduomeishi2 {
	width: 652px;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
}

.genduomeishi3 {
	width: 654px;
	height: 6px;
	background: url(../images/place_1_68.jpg) no-repeat;
}

.genduomeishi1 ul {
	margin: 5px 0 0 12px;
	height: auto;
	overflow: hidden
}

.genduomeishi1 ul li.lion {
	float: left;
	width: 66px;
	height: 24px;
	background: url(../images/userqieh1_3.jpg) no-repeat;
	text-align: center;
	color: #88AA51;
	font-weight: bold;
	padding-top: 7px;
	margin-right: 40px;
	cursor: pointer
}

.genduomeishi1 ul li.lioff {
	float: left;
	width: 66px;
	height: 24px;
	background-image: none;
	text-align: center;
	color: #88AA51;
	font-weight: bold;
	padding-top: 7px;
	margin-right: 40px;
	cursor: pointer
}

.genduomeishi2 ul {
	min-height:600px;
	width: 652px;
	height: auto;
	overflow: hidden
}

.genduomeishi2 ul li {
	width: 652px;
	height: auto;
	overflow: hidden;
}

.shangchuanfx1 {
	width: 652px;
	height: auto;
	overflow: hidden;
	margin-top:10px;
	
}

.shangchuanfx2 {
	width: 549px;
	height: 3px;
	overflow: hidden;
	clear: both;
	margin-left: 100px;
	margin-top: 8px;
	border-bottom: 1px dotted #ddd;
}

.shangchuanfx3 {
	width: 559px;
	height: auto;
	overflow: hidden;
	margin-left: 87px;
	margin-top: 5px;
}

.shangchuanfx4 {
	width: 549px;
	height: 3px;
	overflow: hidden;
	background: url(../images/userdianxian1_10.jpg) no-repeat;
	clear: both;
	margin-left: 87px;
	margin-top: 16px;
}

.shangchuanfx1_le {
	float: left;
	width: 69px;
	height: auto;
	overflow: hidden;
	margin-left: 23px;
	display: inline
}

.shangchuanfx1_les {
	position: absolute
}

.shangchuanfx1_lex {
	margin: 4px 0 0 5px
}

.shangchuanfx1_ce {
	float: left;
	width: 400px;
	height: auto;
	overflow: hidden;
	margin: 10px 0 0 10px;
}
.shangchuanfx1_ce1 {
	float: left;
	width: 400px;
	height: auto;
	overflow: hidden;
	margin-bottom: 10px;
}

.shangchuanfx1_ce2 {
	margin: 18px 0 0 32px;
}

.shangchuanfx1_ce3 {
	margin: 16px 0 0 32px;
	width: 400px;
	height: auto;
	overflow: hidden;
}

.scfxhuiying {
	width: 490px;
	height: auto;
	display: none;
	margin-top: 10px;
	display: none
}

.scfxhuiying2 {
	float: left;
	width: 282px;
	height: 20px;
	margin-top: 5px
}

.scfxhuiying2text {
	width: 280px;
	height: 18px;
	border: #ccc solid 1px;
	overflow: auto
}

.scfxhuiying3 {
	float: left;
	width: 70px;
	height: 35px;
	margin-top: 5px;
	margin-left: 5px;
	display: inline
}

.scfxhuiying3su {
	width: 70px;
	height: 21px;
	background: url(../images/nidehuiying_7_1.jpg) no-repeat;
	border: none
}

.genduomeishi2 .huiyingul {
	width: 310px;
	height: auto;
	overflow: hidden;
	margin-top: 8px;
	display: none
}

.genduomeishi2 .huiyingul li {
	width: 310px;
	height: auto;
	margin-top: 5px;
	overflow: hidden;
	line-height: 150%
}

.shangchuanfx1_ri {
	float: left;
	width: 138px;
	height: auto;
	overflow: hidden
}

.shangchuanfx1_riyp {
	width: 130px;
	height: 130px;
	background: url(../images/youpiaoxiaoxini_3_1.png) no-repeat;
	text-align: center;
	padding-top: 5px;
}

.shangchuanfx3le {
	float: left;
	width: 431px;
	height: auto;
	overflow: hidden;
	margin: 18px 0 0 20px;
	display: inline
}

.shangchuanfx3ri {
	float: left;
	width: 69px;
	height: auto;
	overflow: hidden;
	margin-left: 35px;
	display: inline
}

.shangchuanfx3ris {
	position: absolute
}

.shangchuanfx3rix {
	margin: 4px 0 0 5px
}

.user_content_right_a {
	width: 286px;
	height: auto;
	margin-top:30px;
	overflow: hidden;
}

.user_content_right_a .s1 {
	float: left;
	margin: 11px 0 0 26px;
}

.user_content_right_a .s1 a {
	font-size: 14px
}

.user_content_right_a .s2 {
	float: left;
	margin-left: 9px;
	_margin-left: 5px;
}


.user_content_right_c {
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-top: 12px;
}

.wodedt1 {
	width: 286px;
	height: 29px;
	background: url(../images/userjiange_3.jpg) no-repeat;
}

.wodedt1 .sle {
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin: 9px 0 0 9px;
}

.wodedt1 .sri {
	float: right;
	margin: 10px 9px 0 0;
}

.wodedt2 {
	width: 284px;
	height: auto;
	overflow: hidden;
	border-left: #E1E1E1 solid 1px;
	border-right: #E1E1E1 solid 1px;
}

.wodedt3 {
	width: 286px;
	height: 5px;
	background: url(../images/userjiange_6.jpg) no-repeat;
}

.wodedt2 ul {
	width: 284px;
	height: auto;
	overflow: hidden;
}

.wodedt2 ul .li1 {
	width: 284px;
	height: auto;
	overflow: hidden;
}

.wodedt2 ul li .s1 {
	float: left;
	width: 13px;
	height: 13px;
	line-height:13px;
	vertical-align:middle;
	color: #FFF;
	background: url(../images/user1_24.jpg) no-repeat;
	text-align: center;
	font-size: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

.wodedt2 ul .li1 .s2 {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	height: 20px;
}

.wodedt2 ul .li2 {
	width: 284px;
	height: auto;
	overflow: hidden;
	background: #F3F3F3;
}

.wodedt2 ul .li2 .s2 {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	height: 20px;
}

.user_content_righta {
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-top: 45px;
}

.user_content_righta1 {
	width: 286px;
	height: 7px;
	overflow: hidden;
	background: url(../images/places_3.jpg) no-repeat
}

.user_content_righta2 {
	width: 284px;
	height: auto;
	overflow: hidden;
	background: #F5F3E7;
	border-left: #E8E8E8 solid 1px;
	border-right: #E8E8E8 solid 1px;
}

.user_content_righta3 {
	width: 286px;
	height: 5px;
	overflow: hidden;
	background: url(../images/places_6.jpg) no-repeat
}

.user_content_righta2_1 {
	margin: 8px 0 0 15px;
}

.user_content_righta2_2 {
	margin: 10px 0 0 15px;
}

.user_content_righta2_3 {
	width: 284px;
	height: auto;
	overflow: hidden;
	text-align: center;
	margin-top: 20px;
}

.user_content_righta2_4 {
	margin: 12px 0 0 7px;
}

.user_content_righta2_4 .s1 {
	float: left;
	margin-left: 6px;
}

.user_content_righta2_4 .s2 {
	float: left;
	margin-left: 7px;
}

.user_content_righta2_4 .s3 {
	float: left;
	margin-left: 66px;
}

.user_content_rightb {
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-top: 27px;
}

.user_content_right_d {
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-top: 14px;
}

.user_content_right_d1 {
	width: 286px;
	height: 7px;
	overflow: hidden;
	background: url(../images/person1qianse_3.jpg) no-repeat
}

.user_content_right_d2 {
	width: 284px;
	height: auto;
	overflow: hidden;
	border-left: #E9ECDB solid 1px;
	border-right: #E9ECDB solid 1px;
}

.user_content_right_d3 {
	width: 286px;
	height: 7px;
	overflow: hidden;
	background: url(../images/person1qianse_6.jpg) no-repeat
}

.user_content_right_d2_1 {
	margin-top: 10px;
	height: 16px;
}

.user_content_right_d2_1le {
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	display: inline
}

.user_content_right_d2_1ri {
	float: right;
	font-size: 12px;
	margin-right: 10px;
	display: inline
}

.user_content_right_d2_2 {
	margin-top: 10px;
	margin-left: 10px;
	width: 263px;
	height: 5px;
	overflow: hidden;
	background: #E0EECA;
}

.user_content_right_d2_3 {
	width: 280px;
	height: auto;
	overflow: hidden
}

.user_content_right_d .uuu22 {
	height: auto;
	overflow: hidden;
	margin-left: 7px;
}

.user_content_right_d .uuu22 li {
	width: 265px;
	height: 45px;
	overflow: hidden;
	background: url(../images/person_1_21.jpg) no-repeat 0 bottom;
	margin-top: 13px;
	padding-bottom: 5px;
}

.user_content_right_d .uuu22 li .xiaoyuantu {
	float: left;
	width: 51px;
	text-align: center;
	height: 50px;
}

.user_content_right_d .uuu22 li .xiaoyuantu img {
	border: #D8D8D8 solid 1px;
}

.uuu22 li .wenzhangyou {
	float: left;
	width: 208px;
	height: auto;
	overflow: hidden;
	margin-left: 5px;
}

.user_content_right_d .uuu22 li .wenzhangyou .ddd1 {
	width: 208px;
	height: auto;
	overflow: hidden
}

.user_content_right_d .uuu22 li .guanzhu {
	float: right;
}


.user_content_right_d .uuu22 .wenzhangyou .pp1 {
	float: left;
	width: 99px;
	color: #73884F;
	font-size: 13px;
	font-weight: bold;
	margin-top: 3px;
}

.user_content_right_d .uuu22 .wenzhangyou .pp1 a {
	color: #73884F;
	font-size: 13px;
	font-weight: bold
}

.user_content_right_d .uuu22 .wenzhangyou .pp2 {
	float: left;
	width: 108px;
	color: #B8B8B8;
	margin-top: 3px;
}

.user_content_right_d .uuu22 .limore {
	width: 258px;
	height: 40px;
	border-bottom: none
}

.user_content_right_d .uuu22 .limore a {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	color: #6F6F71
}

.user_content_right_d .uuu22 .ddd2 {
	clear: both;
	margin-top: 10px;
	color: #848282
}

.user_content_right_e {
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-top: 13px;
}

.user_content_right_e1 {
	width: 286px;
	height: 7px;
	overflow: hidden;
	background: url(../images/person1qianse_3.jpg) no-repeat
}

.user_content_right_e2 {
	width: 284px;
	height: auto;
	overflow: hidden;
	border-left: #E9ECDB solid 1px;
	border-right: #E9ECDB solid 1px;
}

.user_content_right_e3 {
	width: 286px;
	height: 7px;
	overflow: hidden;
	background: url(../images/person1qianse_6.jpg) no-repeat
}

.user_content_right_e2_1 {
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-top: 14px;
}

.user_content_right_e2_1le {
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	display: inline
}

.user_content_right_e2_1ri {
	float: right;
	font-size: 12px;
	margin-right: 10px;
	display: inline
}

.user_content_right_e2_2 {
	margin-top: 10px;
	margin-left: 10px;
	width: 263px;
	height: 5px;
	overflow: hidden;
	background: #E0EECA;
}

.user_content_right_e2_3 {
	width: 276px;
	height: auto;
	overflow: hidden;
	margin-top: 5px;
	margin-left: 10px;
}

.user_content_right_e2_3 ul {
	margin-top: 5px;
	margin-left: 12px
}

.user_content_right_e2_3 ul li {
	float: left;
	width: 87px;
	height: 88px;
	margin-top: 5px;
}

.newgif{
	display: inline;
}

