.spiffy{display:block}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#FC750A}
.spiffy1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #aece98;
  border-right:1px solid #aece98;
  background:#72ab4c}
.spiffy2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #ecf3e7;
  border-right:1px solid #ecf3e7;
  background:#66a43e}
.spiffy3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #66a43e;
  border-right:1px solid #66a43e;}
.spiffy4{
  border-left:1px solid #aece98;
  border-right:1px solid #aece98}
.spiffy5{
  border-left:1px solid #72ab4c;
  border-right:1px solid #72ab4c}
.spiffyfg{
	color:#ffffff;
	font-size:20px;
	height: 50px;
	line-height:50px;
	font-weight:bold;
	text-align:center;
  background:#FC750A}
.global-tip{
	display:none;
	left: 40%;
    position: fixed;
    top: 30%;
    width: 200px;
    z-index: 9999;
}