@charset "utf-8";

/* CSS Document */
a.heihui {
	color: #72716F;
	text-decoration: underline
}

a.heihui:hover {
	text-decoration: none
}

.spanhui {
	color: #72716F
}

a.shenhe {
	color: #8F7658;
	text-decoration: underline
}

a.shenhe:hover {
     text-decoration: none
}

.spanshenhe {
	color: #8F7658
}

.spanhei {
	color: #000
}

.spanhe2 {
	color: #976E4E
}

.spanlvchu {
	font-weight: bold;
	color: #70884C
}

.spanqianhei {
	color: #9FA19E
}

.index_googlemapout {
	height: auto;
	min-width: 960px;
	width: 100% !important;
	width: 100%;
	background: #F0EEDF
}

.index_googlemap0 {
	width: 100%;
	margin: 0 auto;
	height: auto;
	text-align: center;
	overflow: hidden;
}

.index_googlemap1out {
	width: 960px;
	margin: 0 auto;
	height: 1px;
	overflow: hidden;
}

.index_googlemap1 {
	position: absolute;
	width: 960px;
	margin: 0 auto;
	height: 374px;
	overflow: hidden;
}

.g_search {
	width: 960px;
	height: 38px;
	margin-top: 12px;
}

.g_nav {
	width: 960px;
	height: 40px;
	margin-top: 266px;
}

.diqu_div {
	float: left;
	width: 323px;
	height: 39px;
	margin-left: 2px;
	display: inline
}

.caiming_div {
	float: left;
	width: 525px;
	height: 39px;
	margin-left: 9px;
}

.sousuo_div {
	float: left;
	width: 91px;
	height: 39px;
	margin-left: 8px;
}

.diqu_div_a {
	width: 323px;
	height: 39px;
	display: none
}

.diqu_div_b {
	width: 323px;
	height: 39px;
}

.diqu_div_c {
	position: absolute;
	margin-top: 0;
	_margin-top: -3px;
	width: 323px;
	height: auto;
	overflow: hidden;
	background: #FFF;
	border: #CCC solid 1px;
	display: none
}

.diqu_div_c .li1 .s1 {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.diqu_div_c .li1 .s2 {
	float: left;
	margin-left: 5px;
	margin-top: 8px;
}

.diqu_div_c .li3 {
	height: 5px;
	width: 323px;
	clear: both
}

.diqu_div_b .input1 {
	width: 308px;
	height: 29px;
	border: none;
	background: url(../images/index_tm1_3.png) no-repeat;
	padding: 10px 0 0 15px;
	color: #A1A1A1
}

.caiming_div_a {
	width: 525px;
	height: 39px;
	display: none
}

.caiming_div_b {
	width: 525px;
	height: 39px;
}

.caiming_div_c {
	position: absolute;
	margin-top: 0;
	_margin-top: -3px;
	width: 525px;
	height: auto;
	overflow: hidden;
	background: #FFF;
	border: #CCC solid 1px;
	display: none
}

.caiming_div_c .li1 .s1 {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.caiming_div_c .li1 .s2 {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.caiming_div_c .li3 {
	height: 5px;
	width: 525px;
	clear: both
}

.caiming_div_b .input1 {
	width: 510px;
	height: 29px;
	border: none;
	background: url(../images/index_tm1_5.png) no-repeat;
	padding: 10px 0 0 15px;
	color: #A1A1A1
}

.g_nav  .u1 {
	width: 439px;
	height: 31px;
	margin-left: 226px;
	float: left;
	display: inline
}

.g_nav  .u2 {
	width: 135px;
	height: 31px;
	margin-left: 130px;
	margin-top: 16px;
	float: left;
	display: inline;
}

.g_nav .u2 li {
	margin-left: 5px;
	width: 25px;
	height: 25px;
	overflow: hidden;
	float: left;
	display: inline
}

.g_nav li {
	float: left;
}

.g_nav .u1 a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding-top: 6px;
}

.index_contentout {
	height: auto;
	min-width: 960px;
	width: 100% !important;
	width: 100%;
	background: #FfF
}

.index_content {
	width: 960px;
	margin: 0 auto 0;
	height: auto;
	padding: 20px;
	overflow: hidden;
}

.index_content_left {
	float: left;
	width: 658px;
	height: auto;
}

.index_content_right {
	float: right;
	width: 299px;
	height: auto;
	overflow: hidden;
}


.index_content_left_b {
	margin-top: 15px;
	margin-bottom: 5px;
	width: 658px;
	height: auto;
	overflow: hidden
}

.index_content_left_b_1 {
	width: 658px;
	height: 6px;
	background: url(../images/index_btm_20.jpg) no-repeat;
	overflow: hidden
}

.index_content_left_b_2 {
	width: 658px;
	height: auto;
	background: #F5F3E7 url(../images/index_btm_44.jpg) repeat-y;
	overflow: hidden;
}

.index_content_left_b_3 {
	width: 658px;
	height: auto;
	background: #F5F3E7 url(../images/index_btm_46.jpg) repeat-y;
	overflow: hidden
}

.index_content_left_b_4 {
	width: 658px;
	height: 7px;
	background: url(../images/index_btm_64.jpg) no-repeat;
	overflow: hidden
}

.index_content_left_b_444 {
	width: 658px;
	height: auto;
	background: url(../images/index_btm_44.jpg) repeat-y;
	overflow: hidden
}

.index_content_left_b_444 .plula {
	width: 648px;
	height: auto;
	overflow: hidden;
	margin-left: 8px;
}

.index_content_left_b_444 .plula .plula_li {
	width: 648px;
	height: auto;
	overflow: hidden;
}

.index_content_left_b_444 .plula .plula_li .up1 {
	width: 648px;
	height: auto;
	overflow: hidden;
	margin-top: 15px;
}

.index_content_left_b_444 .plula .plula_li .line {
	width: 648px;
	height: 1px;
	background: #D2D2CA;
	border-top: #FFF solid 1px;
	overflow: hidden;
	margin-top: 15px;
	clear: both
}

.newdibu {
	width: 658px;
	height: 25px;
	background: url(../images/index_plnewdi_3.jpg) no-repeat 0 bottom;
	overflow: hidden
}

.index_content_left_b_444 .plula .plula_li .up1_left {
	float: left;
	width: 147px;
	height: auto;
	overflow: hidden
}

.up1_left_1 {
	width: 136px;
	height: 136px;
	background: url(../images/youpiaoxiaoxini_3.png) no-repeat;
	text-align: center;
	padding-top: 9px;
	margin-left: 10px;
}

.index_content_left_b_444 .plula .plula_li .up1_right {
	float: left;
	width: 482px;
	height: auto;
	overflow: hidden;
	border-left: #D2D2CA solid 1px;
	background: url(../images/pinlunshuxian_3.jpg) repeat-y -1px 0;
	margin-left: 6px;
}

.pl_right_div_1 {
	width: 457px;
	height: auto;
	overflow: hidden;
	margin-left: 11px;
	background: #EEE8B8
}

.pl_right_div_1 .le {
	float: left;
	width: 43px;
	height: 47px;
	margin-left: 14px;
	margin-top: 11px;
}

.pl_right_div_1 .ri {
	float: left;
	width: 376px;
	height: auto;
	overflow: hidden;
	line-height: 150%;
	padding: 10px 10px 10px 0
}

.pl_right_div_2 {
	width: 457px;
	height: auto;
	overflow: hidden;
	margin-left: 11px;
	margin-top: 27px;
}

.pl_right_div_2 .span1 {
	float: left
}

.pl_right_div_2 .divanniu1 {
	float: right;
	height: 21px;
	width: 90px;
	background: #7FA445 url(../images/index_plbtm_10.jpg) no-repeat;
	color: #FFF;
	margin-left: 5px;
	cursor: pointer
}

.pl_right_div_2 .divanniu1 .ss1 {
	float: right;
	height: 21px;
	width: 5px;
	overflow: hidden;
	background: url(../images/index_plbtm_12.jpg) no-repeat
}

.pl_right_div_2 .divanniu1 .pp1 {
	float: left;
	height: 15px;
	width: 80px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	display: inline
}

.pl_right_div_2 .divanniu2 {
	float: right;
	height: 21px;
	width: 80px;
	background: #7FA445 url(../images/index_plbtm_10.jpg) no-repeat;
	color: #FFF;
	margin-left: 5px;
	cursor: pointer
}

.pl_right_div_2 .divanniu2 .ss1 {
	float: right;
	height: 21px;
	width: 5px;
	overflow: hidden;
	background: url(../images/index_plbtm_12.jpg) no-repeat
}

.pl_right_div_2 .divanniu2 .pp1 {
	float: left;
	height: 15px;
	width: 70px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	display: inline
}

.pl_right_ul {
	width: 457px;
	height: auto;
	overflow: hidden;
	margin-left: 11px;
	margin-top: 10px;
	border: #D9DBC5 solid 1px;
	display: none
}

.pl_right_li {
	width: 457px;
	height: auto;
	overflow: hidden;
	background: #E5E6D8
}

.pl_right_li .le {
	float: left;
	width: 43px;
	height: 47px;
	margin-left: 14px;
	margin-top: 11px;
	display: inline
}

.pl_right_li .ri {
	float: left;
	width: 376px;
	height: auto;
	overflow: hidden;
	line-height: 150%;
	padding: 10px 10px 10px 0
}

.hfshuziul {
	position: absolute;
	height: 19px;
	width: 457px;
	margin-top: -1px;
	margin-left: 13px;
}

.hfshuziul .lixuanzhe {
	float: right;
	width: 24px;
	height: 15px;
	border: #D9DBC5 solid 1px;
	border-top: #E5E6D8 solid 1px;
	background: #E5E6D8;
	font-weight: bold;
	text-align: center;
	padding-top: 3px;
}

.hfshuziul .lixuanzheno {
	float: right;
	width: 24px;
	height: 15px;
	border: none;
	border-top: #D9DBC5 solid 1px;
	font-weight: normal;
	background: #FFF;
	text-align: center;
	padding-top: 3px;
}

.hfshuziulout {
	height: 19px;
	width: 457px;
}

.pl_right_div_4 {
	margin-top: 10px;
}

.pl_hf_left {
	margin-left: 14px;
	float: left;
	width: 31px;
	height: 68px;
	display: inline
}

.pl_hf_right {
	float: left;
	width: 426px;
	height: 131px;
}

.pl_hf_left_1 {
	margin-top: 14px;
}

.pl_hf_right_1 {
	width: 426px;
	height: 68px;
}

.pl_hf_right_2 {
	margin-top: 16px;
}

.pl_hf_right_1 .textb {
	width: 412px;
	height: 57px;
	background: url(../images/pinlunhuifu1_10.jpg) no-repeat;
	padding: 5px;
	border: none;
	overflow: auto
}

.pl_hf_right_1 a.quxiaoaaa {
	position: absolute;
	margin-top: 91px;
	margin-left: 97px;
	color: #000;
	text-decoration: underline
}

.pl_hf_right_2 .tijiaoanniu1 {
	margin-top: 17px;
}

.linedown {
	width: 100%;
	height: 20px;
	padding-top: 19px;
	text-align: center
}

.linedown a {
	color: #7C9D42;
	text-decoration: underline
}

.linedown a:hover {
	text-decoration: none
}

.index_content_left_b_3 ul {
	float: left;
	width: 384px;
	height: 26px;
	margin-top: 7px;
}

.index_content_left_b_3 ul li {
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	display: inline
}

.index_content_left_b_3 ul li img {
	float: left
}

.index_content_left_b_3 ul li a {
	float: left;
	margin-left: 5px;
}

.index_content_left_b_3 ul li span {
	float: left
}

.index_content_left_b_3 .right_div1 {
	float: left;
	width: 104px;
	height: 26px;
	margin-left: 110px;
	margin-top: 12px;
}

.index_content_left_b_3 .right_div1 span {
	float: left;
	margin: 0 7px
}

.index_content_left_b_3 .right_div1 a {
	float: left
}

.index_content_left_b_2_left {
	float: left;
	width: 435px;
	height: auto;
	overflow: hidden
}

.index_content_left_b_2_right {
	float: left;
	width: 204px;
	height: auto;
	overflow: hidden
}

.youpiaoda {
	width: 190px;
	height: 189px;
	text-align: center;
	padding: 12px 0 0 0;
	background: url(../images/index_tm1_34.png) no-repeat;
	margin-top: 1px;
}

.youpiaoda_xihuan {
	position: absolute;
	width: 52px;
	height: 52px;
	margin-left: 145px;
	margin-top: -20px;
	background: url(../images/index_tm1_38.png) no-repeat
}

.youpiaoda_xihuan .p1 {
	float: left;
	color: #FFF;
	width: 30px;
	margin-left: 8px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 7px;
}

.youpiaoda_xihuan .p2 {
	float: left;
	width: 30px;
	height: 12px;
	margin-left: 5px;
	margin-top: 2px;
	color: #FFF;
	font-size: 11px;
}

.index_content_left_b_2_left .faxian {
	height: 38px;
	margin-top: 10px
}

.index_content_left_b_2_left .li0 {
	float: left;
	width: 97px;
	height: 38px;
	background: url(../images/index_btm_28.jpg) no-repeat;
	padding-top: 7px;
	text-align: center;
	color: #4F573F;
	font-weight: bold;
	font-size: 13px;
}

.index_content_left_b_2_left .li1 {
	float: left;
	margin-left: 9px;
}

.index_content_left_b_2_left .li2 {
	float: left;
	margin-left: 25px;
	margin-top: 20px;
}

.index_content_left_b_2_left .li2 a {
	color: #6F6D6E
}

.index_content_left_b_2_left .div1 {
	width: 400px;
	height: 10px;
	border-bottom: #CAE19D solid 5px;
	margin-left: 7px;
}

.index_content_left_b_2_left .div2 {
	width: 380px;
	height: auto;
	margin-left: 18px;
	margin-top: 10px;
	overflow: hidden;
	line-height: 150%;
}

.index_content_left_b_2_left .div2 .s1 {
	float: left;
	width: 272px;
	height: 20px;
	color: #546E24;
	font-size: 14px;
	font-weight: bold
}

.index_content_left_b_2_left .div2 .s1 a {
	color: #546E24;
	font-size: 14px;
	font-weight: bold
}

.index_content_left_b_2_left .div2 .s2 {
	float: left;
	width: 100px;
	height: 20px;
	color: #A0A09E
}

.index_content_left_b_2_left .div3 {
	width: 380px;
	height: auto;
	margin-left: 18px;
	margin-top: 10px;
	overflow: hidden;
	line-height: 150%;
}

.index_content_left_b_2_left .div4 {
	width: 380px;
	height: auto;
	margin-left: 18px;
	margin-top: 10px;
	overflow: hidden;
	color: #717171;
	line-height: 150%;
}

.index_content_left_b_2_left .div5 {
	width: 400px;
	height: 10px;
	border-bottom: #CAE19D solid 1px;
	margin-left: 7px;
}

.index_content_left_b_2_left .yuantu {
	margin-top: 12px;
	margin-left: 15px;
	padding-bottom: 5px;
}

.index_content_left_b_2_left .yuantu li {
	float: left;
	width: 56px;
	height: 56px;
	margin-left: 8px;
}

.index_content_left_c {
	margin-left: 8px;
	margin-top: 26px;
	width: 645px;
	height: 26px;
}

/*page*/
.index_content_left_c .divpage .pagespan {
	float: left;
	width: 20px;
	margin: 5px;
	color: #5C7534;
}

.index_content_left_c .divpage a {
	float: left;
	height: 17px;
	font-size: 12px;
	padding: 5px 7px 0 7px;
	margin-right: 5px;
	border: 1px solid #CEC1B0;
	color: #5C7534
}

.index_content_left_c .divpage a.pageleft {
	width: 22px;
	height: 22px;
	overflow: hidden;
	background: url(../images/index_fenye1_6.jpg) no-repeat center center;
	padding: 0
}

.index_content_left_c .divpage a.pageright {
	width: 22px;
	height: 22px;
	overflow: hidden;
	background: url(../images/index_fenye1_3.jpg) no-repeat center center;
	padding: 0
}

.index_content_left_c .divpage a.pageleft_1 {
	background: url(../images/index_fenye1_3_1.jpg) no-repeat center center
}

/*左侧箭头活动时*/
.index_content_left_c .divpage a.pageright_1 {
	background: url(../images/index_fenye1_6_1.jpg) no-repeat center center
}

/*右侧箭头不活动时*/
.index_content_left_c .divpage a.pagenum:hover,.index_content_left_c .divpage a.pagenum:active
	{
	border: none;
	padding: 5px 8px 0 7px;
	color: #000;
	font-weight: bold;
	text-decoration: none
}

.index_content_left_c .divpage a.pagenum2:hover,.index_content_left_c .divpage a.pagenum2:active
	{
	border: none;
	padding: 5px 7px 0 7px;
	color: #000;
	font-weight: bold;
	text-decoration: none
}

/*page end*/
.index_content_right_a {
	width: 301px;
	height: 44px;
	background: url(../images/index_btm_5.jpg) no-repeat;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	color: #5C7E27
}

.index_content_right_b {
	width: 301px;
	height: 68px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 19px;
}

.index_content_right_b .denglu {
	float: left;
	margin-left: 12px;
}

.index_content_right_b .zhuce {
	float: left;
	margin-left: 10px;
}

.index_content_right_c {
	width: 287px;
	height: 202px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 17px;
	_margin-top: 20px;
	margin-left: 12px;
}

.index_content_right_d {
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-left: 12px;
	margin-top: 18px;
	_margin-top: 13px;
}

.index_content_right_d1 {
	width: 286px;
	height: 7px;
	background: url(../images/index_btm_68.jpg) no-repeat;
	overflow: hidden
}

.index_content_right_d2 {
	width: 284px;
	height: auto;
	background: #FBFCF7;
	overflow: hidden;
	border-left: #EBECDC solid 1px;
	border-right: #EBECDC solid 1px;
}

.index_content_right_d3 {
	width: 286px;
	height: 7px;
	background: url(../images/index_btm_75.jpg) no-repeat;
	overflow: hidden
}

.index_content_right_d2 .toubu {
	width: 262px;
	height: 34px;
	margin-left: 10px;
	border-bottom: #DFEEC7 solid 4px;
}

.index_content_right_d2 .toubu .le {
	float: left;
	color: #4F583D;
	font-size: 14px;
	font-weight: bold;
	padding: 7px 0 0 20px;
}

.index_content_right_d2 .toubu .ri {
	float: right;
	color: #6E6E6C;
	margin-right: 10px;
	margin-top: 8px;
}

.index_content_right_d2 .toubu .ri a {
	color: #6E6E6C;
}

.index_content_right_d2 ul {
	margin-left: 11px;
}

.index_content_right_d2 li {
	width: 262px;
	height: 55px;
	border-bottom: #B2B3AE dotted 1px;
	margin-top: 13px;
}

.index_content_right_d2 li .xiaoyuantu {
	float: left;
	width: 72px;
	text-align: center
}

.index_content_right_d2 li .wenzhangyou {
	float: left;
	width: 184px;
}

.index_content_right_d2 .wenzhangyou .pp1 {
	color: #73884F;
	font-size: 13px;
	font-weight: bold;
	margin-top: 10px;
}

.index_content_right_d2 .wenzhangyou .pp1 a {
	color: #73884F;
	font-size: 13px;
	font-weight: bold
}

.index_content_right_d2 .wenzhangyou .pp2 {
	color: #B8B8B8;
	margin-top: 5px;
}

.index_content_right_e {
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-left: 12px;
	margin-top: 20px;
}

.index_content_right_e1 {
	width: 286px;
	height: 35px;
	overflow: hidden
}

.index_content_right_e2 {
	height: auto;
	overflow: hidden;
}

.index_content_right_e3 {
	width: 286px;
	height: 7px;
	background: url(../images/index_btm_75.jpg) no-repeat 1px 0;
	overflow: hidden
}

.index_content_right_e1 .toubu {
	width: 286px;
	height: 35px;
	cursor: pointer
}

.index_content_right_e1 .toubu .le {
	float: left;
	width: 143px;
	height: 28px;
	background: #BFD990 url(../images/index_btm_78.jpg) no-repeat;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 10px 0 0 0;
}

.index_content_right_e1 .toubu .ri {
	float: right;
	width: 143px;
	height: 28px;
	background: #E0EECA url(../images/index_btm_79.jpg) no-repeat right 0;
	text-align: center;
	font-size: 14px;
	padding: 10px 0 0 0;
}

.index_content_right_e1 .toubu .le_1 {
	float: left;
	width: 143px;
	height: 35px;
	background: #E0EECa url(../images/index_btm_79_1.jpg) no-repeat left 0;
	font-size: 14px;
	text-align: center;
	padding: 10px 0 0 0;
}

.index_content_right_e1 .toubu .ri_1 {
	float: right;
	width: 143px;
	height: 35px;
	background: #BFD990 url(../images/index_btm_78_1.jpg) no-repeat;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding: 10px 0 0 0;
}

.index_content_right_e2 li {
}

.index_content_right_e2 li .xiaoyuantu {
	float: left;
	width: 51px;
	text-align: center
}

.index_content_right_e2 li .wenzhangyou {
	float: left;
	width: 146px;
}


.index_content_right_e2 .wenzhangyou .pp1 {
	color: #73884F;
	font-size: 13px;
	font-weight: bold;
	margin-top: 3px;
}

.index_content_right_e2 .wenzhangyou .pp1 a {
	color: #73884F;
	font-size: 13px;
	font-weight: bold
}

.index_content_right_e2 .wenzhangyou .pp2 {
	color: #B8B8B8;
	margin-top: 5px;
}

.index_content_right_e2 .limore {
}

.index_content_right_e2 .limore a {
}