@charset "utf-8";
ul.spots {
    background-color: #F0EEE4;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #E1DCC8;
    margin: 0;
    padding: 0;
}
ul.spots li.spot {
	border-bottom: 1px solid #E1DCC8;
    border-top: 1px solid white;
    padding: 15px 10px;
    position: relative;
}

ul.spots li.spot.nbb{
	border-bottom: none;
}

ul.spots li.spot .photo {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}

ul.spots li.spot .photo.t-120{
    background: url("../images/youpiaoxiaoxini_3.png?1310283381") no-repeat scroll 0 0 transparent;
    float: left;
    height: 136px;
    margin: 0 10px 0 0;
    padding-top: 5px;
    padding-left: 5px;
    width: 136px;
}

ul.spots li.spot .spot-container {
    float: right;
    position: relative;
    width: 478px;
}
div.getmore {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
}

ul.spots li.spot .creator-bar .creator {
	float:left;
	margin-right: 5px;
}
ul.spots li.spot .creator-bar .way {
    float:left;
}

ul.spots li.spot .creator-bar {
    margin-bottom: 8px;
}

ul.spots li.spot .creator-bar .avatar {
	border-radius: 3px;
    float: left;
    margin-right: 8px;
}

ul.spots li.spot .creator-bar .avatar img {
	border-radius: 3px;
}

ul.spots li.spot .creator-bar .review {
	border-radius: 5px;
    float: right;
}

ul.spots li.spot .note {
    color: #807574;
    margin-bottom: 10px;
}

.comments-container.full {
    margin: 0;
}

.comments-container {
    background: none repeat scroll 0 0 #F7F6F1;
    border: 1px solid #E1DCC8;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top:20px;
}

.review-meta-full{
	float: right;
    margin-bottom: 10px;
}

.review-meta a {
    float: right;
    margin-left: 5px;
    padding: 4px 5px;
}

.comments-container .comments {
    color: #444444;
    padding: 5px;
}

.comments-container .comments.empty {
	border-radius: 4px 4px 4px 4px;
    padding: 10px;
    text-align: center;
}

.comments-container .avatar {
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin-right: 5px;
    padding: 1px;
}
.comments-container .avatar img {
	border-radius: 3px 3px 3px 3px;
    height: 30px;
    width: 30px;
}

.comments-container .comments .comment-row {
    height:auto;
    min-height: 40px;
    padding:3px;
}
.comments-container .comments .comment {
    line-height: 1.3;
}
.comments-container .comments .comment a {
    margin-right: 5px;
}
.comments-container .comments .comment .timestamp {
    font-size: 80%;
    color: #A1A1A1;
}
.comments-container .new-comment .text-box {
    margin-left: 9px;
    padding: 0;
    width: 443px;
}
.comments-container .new-comment .text-box-full {
    margin-right: 2px;
    padding: 0;
    width: 570px;
    float:right;
}


a.pager-el{
	background: none repeat scroll 0 0 #F2F0E6;
    border: 1px solid #eee;
    border-radius: 0 0 3px 3px;
    color: #444444;
    float: right;
    font-size: 90%;
    margin-left: 2px;
    margin-top: -1px;
    padding: 3px 6px;
}
a.pager-el.on{
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #fff;
	font-weight: bold;
}
a.pager-el:hover{
	background: none repeat scroll 0 0 #CEEBE3;
}
.comment-sumbit{
	height:25px;
	width:72px;
	line-height:25px;
	float: right;
}
.perfect-blue {
    background: none repeat scroll 0 0 #5C7E27;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: -1px -1px #125746 inset;
    color: white;
    cursor: pointer;
    display: block;
    font-family: Verdana,Tahoma,Hei,"宋体",Helvetica,Arial,sans-serif;
    overflow: visible !important;
    padding: 5px;
    text-align: center;
}
.comments-container .new-comment .perfect-blue {
    margin-top: 8px;
}