@charset "utf-8";
.spanhui {
	color: #72716F
}

.shenhe {
	color: #8F7658;
	text-decoration: underline
}

a.shenhe:hover {
     text-decoration: none
}

.spanshenhe {
	color: #8F7658
}

.spanhei {
	color: #000;
	font-weight: bold;
	font-size: 15px;
}

.spanhe2 {
	color: #976E4E
}

.spanlvchu {
	font-weight: bold;
	color: #70884C
}

.spanqianhei {
	color: #9FA19E
}
.person_contentout {
	height: auto;
	min-width: 960px;
	width: 100% !important;
	width: 100%;
	background: #fff;
}

.person_content {
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
	height: auto;
}

.person_content_left {
	float: left;
	width: 658px;
	height: auto;
}

.person_content_right {
	float: right;
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-left: 14px;
}

.person_content_left_a {
	width: 658px;
	height: 30px;
	padding-top:2px;
	overflow: hidden
}

.person_content_left_aleft {
	color: #000000;
    display: inline;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 7px;
    margin-top: 8px;
}

.person_content_left_aright {
 	color: #A6A6A4;
    float: left;
    font-weight: bold;
    margin-left: 28px;
    margin-top: 15px;
}

.person_content_left_a .s3 {
	color: #75934B;
    float: right;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 15px;
}

.person_content_left_aright a {
	float: left;
}

.person_content_left_aright .s11 {
	float: left;
	margin: 0 3px;
}

.person_content_left_aright .s22 {
	float: left;
	margin: 0 3px;
}

.person_content_left_b {
	margin-top: 13px;
	margin-bottom: 5px;
	width: 658px;
	height: auto;
	overflow: hidden
}

.person_content_left_b_0 {
	width: 658px;
	height: 6px;
	background: url(../images/index_btm_20.jpg) no-repeat;
	overflow: hidden
}

.person_content_left_b_00 {
	width: 658px;
	height: 28px;
	background: #F5F3E7 url(../images/index_btm_44.jpg) repeat-y;
	padding-top: 8px;
	overflow: hidden
}

.person_content_left_b_00 .s1 {
	float: left;
	font-size:14px;
	font-weight: bold;
	margin: 6px 0 0 34px;
}

.person_content_left_b_00 .s2 {
	float: left;
	margin-left: 26px;
}

.person_content_left_b_00 .s3 {
	float: left;
	color: #848282;
	margin: 9px 0 0 3px;
}

.person_content_left_b_1 {
	width: 658px;
	height: auto;
	background: #F5F3E7 url(../images/index_btm_44.jpg) repeat-y;
	overflow: hidden;
}

.person_content_left_b_2 {
	width: 658px;
	height: 24px;
	background: #F5F3E7 url(../images/index_btm_44.jpg) repeat-y;
	color: #8C8A89;
	padding-top: 8px;
	overflow: hidden
}

.person_content_left_b_2 .s1 {
	float: left;
	margin: 0 0 0 34px;
}

.person_content_left_b_2 .s2 {
	float: left;
	margin-left: 36px;
}

.person_content_left_b_2 .s3 {
	float: left;
	color: #848282;
	margin: 0 0 0 13px;
}

.person_content_left_b_3 {
	width: 658px;
	height: auto;
	background: #F5F3E7 url(../images/index_btm_46.jpg) repeat-y;
	overflow: hidden
}

.person_content_left_b_4 {
	width: 658px;
	height: 7px;
	background: url(../images/index_btm_64.jpg) no-repeat;
	overflow: hidden
}

.person_content_left_b_444 {
	width: 658px;
	height: auto;
	background: url(../images/index_btm_44.jpg) repeat-y;
	overflow: hidden
}

.newdibu {
	width: 658px;
	height: 25px;
	background: url(../images/index_plnewdi_3.jpg) no-repeat 0 bottom;
	overflow: hidden
}

.pl_right_ul {
	width: 628px;
	height: auto;
	overflow: hidden;
	margin-left: 16px;
	background: #E5E6D8;
	margin-top: 10px;
	border: #D9DBC5 solid 1px;
	display: none
}

.pl_right_li {
	float: left;
	width: 628px;
	height: auto;
	overflow: hidden;
}

.pl_right_li .le {
	float: left;
	width: 43px;
	height: 47px;
	margin-left: 14px;
	margin-top: 11px;
	display: inline
}

.pl_right_li .ri {
	float: left;
	width: 536px;
	height: auto;
	overflow: hidden;
	line-height: 150%;
	padding: 10px 10px 10px 0
}

.hfshuziul {
	position: absolute;
	height: 19px;
	width: 628px;
	margin-top: -1px;
	margin-left: 18px;
}

.hfshuziul .lixuanzhe {
	float: right;
	width: 24px;
	height: 15px;
	border: #D9DBC5 solid 1px;
	border-top: #E5E6D8 solid 1px;
	background: #E5E6D8;
	font-weight: bold;
	text-align: center;
	padding-top: 3px;
}

.hfshuziul .lixuanzheno {
	float: right;
	width: 24px;
	height: 15px;
	border: none;
	border-top: #D9DBC5 solid 1px;
	font-weight: normal;
	background: #FFF;
	text-align: center;
	padding-top: 3px;
}

.hfshuziulout {
	height: 19px;
	width: 628px;
}

.pl_right_div_4 {
	margin-top: 10px;
}

.pl_hf_left {
	margin-left: 14px;
	float: left;
	width: 31px;
	height: 68px;
	overflow: hidden;
	display: inline
}

.pl_hf_right {
	float: left;
	width: 600px;
	height: 131px;
	overflow: hidden;
	display: inline
}

.pl_hf_left_1 {
	margin-top: 14px;
}

.pl_hf_right_1 {
	width: 616px;
	height: 68px;
}

.pl_hf_right_2 {
	margin-top: 16px;
}

.pl_hf_right_1 .textb {
	width: 600px;
	height: 57px;
	background: url(../images/pinlunhuifu1_10_1.jpg) no-repeat;
	padding: 5px;
	border: none;
	overflow: auto
}

.pl_hf_right_1 a.quxiaoaaa {
	position: absolute;
	margin-top: 91px;
	margin-left: 97px;
	color: #000;
	text-decoration: underline
}

.pl_hf_right_2 .tijiaoanniu1 {
	margin-top: 17px;
}

.linedown {
	width: 100%;
	height: 20px;
	padding-top: 19px;
	text-align: center
}

.linedown a {
	color: #7C9D42;
	text-decoration: underline
}

.linedown a:hover {
	text-decoration: none
}

.person_content_left_b_3 ul {
	float: left;
	width: 384px;
	height: 26px;
	margin-top: 7px;
}

.person_content_left_b_3 ul li {
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	display: inline
}

.person_content_left_b_3 ul li img {
	float: left
}

.person_content_left_b_3 ul li a {
	float: left;
	margin-left: 5px;
	color: #72716F;
	text-decoration: underline;
}

.person_content_left_b_3 .right_div1 {
	float: left;
	width: 104px;
	height: 26px;
	margin-left: 110px;
	margin-top: 12px;
}

.person_content_left_b_3 .right_div1 span {
	float: left;
	margin: 0 7px
}

.person_content_left_b_3 .right_div1 a {
	float: left;
	color: #8F7658;
	text-decoration: underline;
}

.youpiaoda {
	width: 600px;
	height: 400px;
	text-align: center;
	margin-top: 1px;
	margin-left: 31px;
	margin-bottom: 10px
}

.youpiaoda_xihuan {
	position: absolute;
	width: 66px;
	height: 64px;
	margin-left: 550px;
	margin-top: -20px;
	background: url(../images/xiaoyuantu1_3.png) no-repeat
}

.youpiaoda_xihuan .p1 {
	float: left;
	color: #FFF;
	width: 30px;
	margin-left: 15px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 12px;
}

.youpiaoda_xihuan .p2 {
   	color: #FFFFFF;
    float: left;
    font-size: 11px;
    height: 12px;
    margin-left: 12px;
    margin-top: 2px;
    width: 30px;
}

.person_content_left_b_2_left .faxian {
	height: 38px;
	margin-top: 10px
}

.person_content_left_b_2_left .li0 {
	float: left;
	width: 97px;
	height: 38px;
	background: url(../images/index_btm_28.jpg) no-repeat;
	padding-top: 7px;
	text-align: center;
	color: #4F573F;
	font-weight: bold;
	font-size: 13px;
}

.person_content_left_b_2_left .li1 {
	float: left;
	margin-left: 9px;
}

.person_content_left_b_2_left .li2 {
	float: left;
	margin-left: 25px;
	margin-top: 20px;
}

.person_content_left_b_2_left .li2 a {
	color: #6F6D6E
}

.person_content_left_b_2_left .div1 {
	width: 400px;
	height: 10px;
	border-bottom: #CAE19D solid 5px;
	margin-left: 7px;
}

.person_content_left_b_2_left .div2 {
	width: 380px;
	height: auto;
	margin-left: 18px;
	margin-top: 10px;
	overflow: hidden;
	line-height: 150%;
}

.person_content_left_b_2_left .div2 .s1 {
	float: left;
	width: 272px;
	height: 20px;
	color: #546E24;
	font-size: 14px;
	font-weight: bold
}

.person_content_left_b_2_left .div2 .s1 a {
	color: #546E24;
	font-size: 14px;
	font-weight: bold
}

.person_content_left_b_2_left .div2 .s2 {
	float: left;
	width: 100px;
	height: 20px;
	color: #A0A09E
}

.person_content_left_b_2_left .div3 {
	width: 380px;
	height: auto;
	margin-left: 18px;
	margin-top: 10px;
	overflow: hidden;
	line-height: 150%;
}

.person_content_left_b_2_left .div4 {
	width: 380px;
	height: auto;
	margin-left: 18px;
	margin-top: 10px;
	overflow: hidden;
	color: #717171;
	line-height: 150%;
}

.person_content_left_b_2_left .div5 {
	width: 400px;
	height: 10px;
	border-bottom: #CAE19D solid 1px;
	margin-left: 7px;
}

.person_content_left_b_2_left .yuantu {
	margin-top: 12px;
	margin-left: 15px;
	padding-bottom: 5px;
}

.person_content_left_b_2_left .yuantu li {
	float: left;
	width: 56px;
	height: 56px;
	margin-left: 8px;
}

.person_content_righta {
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-top: 45px;
	letter-spacing: 5px;
}

.spanhui {
	color: #72716F
}

.person_content_righta a {
	display: block;
	font-size: 21px;
	line-height: 35px;
	height: 35px;
	text-align: center;
	overflow: hidden;
	text-decoration: none;
	vertical-align: middle;
}

.person_content_rightb {
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-top: 15px;
}

.person_content_fenxiang {
	width: 114px;
	height: 51px;
}

.person_content_fenxiang1 {
	float: left;
	width: 10px;
	height: 49px;
	background: url(../images/personbiaop_3.jpg) no-repeat
}

.person_content_fenxiang2 {
	float: left;
	width: 115px;
	height: 60px;
	text-align: center;
	background-color: #F5F3E7;
	border-radius: 3px;
}

.person_content_fenxiang3 {
	float: right;
	width: 155px;
	height: 60px;
	text-align: center;
	background-color: #F5F3E7;
	border-radius: 3px;
}

.person_content_rightb .p1 {
	font-size: 30px;
	color: #A7AF4B;
	font-weight: bold;
	margin-top: 8px;
}

.person_content_rightb .p2 {
	color: #999999;
	margin-top: 2px;
}


.person_content_rightd {
	width: 286px;
	height: auto;
	overflow: hidden;
	margin-top: 11px;
}

.person_content_rightd1 {
	width: 286px;
	height: 7px;
	overflow: hidden;
	background: url(../images/person1qianse_3.jpg) no-repeat
}

.person_content_rightd2 {
	width: 284px;
	height: auto;
	overflow: hidden;
	border-left: #E9ECDB solid 1px;
	border-right: #E9ECDB solid 1px;
}

.person_content_rightd3 {
	width: 286px;
	height: 7px;
	overflow: hidden;
	background: url(../images/person1qianse_6.jpg) no-repeat
}

.person_content_rightd2_1 {
	margin-top: 10px;
	height: 16px;
}

.person_content_rightd2_1le {
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	display: inline
}

.person_content_rightd2_1ri {
	float: right;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
	display: inline
}

.person_content_rightd2_2 {
	margin-top: 10px;
	margin-left: 10px;
	width: 263px;
	height: 5px;
	overflow: hidden;
	background: #E0EECA;
}

.person_content_rightd2_3 {
	margin-top: 10px;
	width: 280px;
	height: auto;
	overflow: hidden
}

.touxiezuo {
	float: left
}

.touxieyou {
	float: left;
	margin-left: 12px;
	margin-top: 3px;
	font-size: 14px
}

.touxieyou2 {
	width: 118px;
	height: 3px;
	background: #DDDDDD;
	overflow: hidden;
	margin-top: 5px;
}

.touxieyou2_1 {
	width: 100px;
	height: 3px;
	background: #96AF4B;
	overflow: hidden
}

.touxieyou3 {
	margin-top: 5px;
	color: #9D88B1
}

.person_content_rightd2_3 ul {
	height: auto;
	width: 280px;
	overflow: hidden
}

.person_content_rightd2_3 ul li {
	margin-left: 13px;
	margin-top: 9px;
	width: 265px;
	height: auto;
	overflow: hidden;
	clear: both
}
li.person{
	border-bottom: 1px solid #E1DCC8;
    border-top: 1px solid white;
    margin: 0 !important;
    padding: 15px;
}

li.person.first{
    border-top: none;
    border-radius: 5px 5px 0 0;
}

li.person.last{
    border-bottom: none;
    border-radius: 0 0 5px 5px;
}