.jc_tanchudivout {
	width: auto;
	height: auto;
	overflow: hidden;
	background: #999
}

.jc_tanchudiv {
	width: 316px;
	height: auto;
	overflow: hidden;
	margin: 0 auto
}

.jc_tanchudivsh {
	width: 316px;
	height: 63px;
}

.jc_tanchudivsh_le {
	float: left;
	width: 9px;
	height: 63px;
	background: url(../images/shouyetanchu_3.jpg) no-repeat;
	overflow: hidden
}

.jc_tanchudivsh_ce {
	float: left;
	width: 299px;
	background: url(../images/shouyetanchu_4.jpg) repeat-x;
	height: 63px;
	overflow: hidden
}

.jc_tanchudivsh_cezuo {
	float: left;
	width: 240px;
	height: 63px;
	margin-left:-14px;
}

.jc_tanchudivsh_ceyou {
	float: right;
	width: 32px;
	height: 33px;
}

.jc_tanchudivsh_ri {
	float: left;
	width: 8px;
	background: url(../images/shouyetanchu_7.jpg) no-repeat;
	height: 63px;
	overflow: hidden
}

.jc_tanchudivzh {
	width: 316px;
	height: auto;
	overflow: hidden;
	background: #EAE9D7 url(../images/shouyetanchu_10.jpg) repeat-y;
	clear: both
}

.jc_tanchudivzh_ri {
	width: 316px;
	height: auto;
	overflow: hidden;
	background: url(../images/shouyetanchu_12.jpg) repeat-y right 0;
	height: auto;
	overflow: hidden
}

.jc_tanchudivxia {
	width: 316px;
	height: 64px;
	clear: both
}

.jc_tanchudivxia_le {
	float: left;
	width: 9px;
	height: 64px;
	background: url(../images/shouyetanchu_15.jpg) no-repeat;
	overflow: hidden
}

.jc_tanchudivxia_ce {
	float: left;
	width: 299px;
	background: url(../images/shouyetanchu_16.jpg) repeat-x;
	height: 64px;
	overflow: hidden
}

.jc_tanchudivxia_ri {
	float: left;
	width: 8px;
	background: url(../images/shouyetanchu_17.jpg) no-repeat;
	height: 64px;
	overflow: hidden
}

.jc_tanchudivsh_cezuo .li1 {
	float: left;
	width: 140px;
	height: 25px;
	color: #80A444;
	font-size: 14px;
	font-weight: bold;
	background: url(../images/index_dengluxiao_10.jpg) no-repeat 0 2px;
	padding: 0 0 0 20px;
	margin: 26px 0 0 43px;
	display: inline
}

.jc_tanchudivzh_ri .denglu {
	margin: 11px 0 13px 32px;
}

.jc_tanchudivzh_ri .denglu .li1 {
	width: 270px;
	height: 20px;
	margin-top: 5px;
}

.jc_tanchudivzh_ri .denglu .li1 .danxuan {
	float: left
}

.jc_tanchudivzh_ri .denglu .li1 .jiucuospan {
	float: left;
	margin-top: 2px;
	cursor: pointer;
}

.jc_tanchudivzh_ri .denglu .li1 {
	width: 270px;
	height: auto;
	overflow: hidden;
	margin-top: 10px;
}

.jc_tanchudivzh_ri .denglu .li1 .label{
  	color: #898989;
    height: 20px;
    margin: 2px 0 0 2px;
    padding: 15px 0 0 5px;
    position: absolute;
    width: 258px;
}

.jc_tanchudivzh_ri .denglu .li1 .jiucuotext1 {
	width: 242px;
	height: 84px;
	padding: 10px 0 0 10px;
	border: none;
	background: url(../images/jiucuotext_3.jpg) no-repeat;
	overflow: auto;
	max-width: 242px;
	max-height: 84px;
	cursor: text;
}

.jc_tanchudivxia_ce .anniu{
	padding:17px 24px;
}

.jc_tanchudivxia_ce .anniu .s1 {
	float: right
}

.jc_tanchudivxia_ce .anniu .s2 {
	float: right;
    margin-right: 10px;
    margin-top: 8px;
	color: #888886
}

.jc_tanchudivxia_ce .anniu .s2 a {
	color: #888886;
	text-decoration: underline;
}

.tj_tanchudivout {
	display:none;
	width: auto;
	height: auto;
	overflow: hidden;
	background: #999
}

.tj_tanchudiv {
	width: 379px;
	height: auto;
	overflow: hidden;
	margin: 0 auto
}

.inputLabel{
	color:#B8B8B8;
	margin:10px; 
	position:absolute;
	z-index:20;
}
.tj_tanchudivsh {
	width: 379px;
	height: 63px;
}

.tj_tanchudivsh_le {
	float: left;
	width: 9px;
	height: 63px;
	background: url(../images/shouyetanchu_3.jpg) no-repeat;
	overflow: hidden
}

.tj_tanchudivsh_ce {
	float: left;
	width: 362px;
	background: url(../images/shouyetanchu_4.jpg) repeat-x;
	height: 63px;
	overflow: hidden
}

.tj_tanchudivsh_cezuo {
	float: left;
	width: 240px;
	height: 63px;
}

.tj_tanchudivsh_ceyou {
	float: right;
	width: 32px;
	height: 33px;
}

.tj_tanchudivsh_ri {
	float: left;
	width: 8px;
	background: url(../images/shouyetanchu_7.jpg) no-repeat;
	height: 63px;
	overflow: hidden
}

.tj_tanchudivzh {
	width: 379px;
	height: auto;
	overflow: hidden;
	background: #EAE9D7 url(../images/shouyetanchu_10.jpg) repeat-y;
	clear: both
}

.tj_tanchudivzh_ri {
	width: 379px;
	height: auto;
	overflow: hidden;
	background: url(../images/shouyetanchu_12.jpg) repeat-y right 0;
	height: auto;
	overflow: hidden
}

.tj_tanchudivxia {
	width: 379px;
	height: 64px;
	clear: both
}

.tj_tanchudivxia_le {
	float: left;
	width: 9px;
	height: 64px;
	background: url(../images/shouyetanchu_15.jpg) no-repeat;
	overflow: hidden
}

.tj_tanchudivxia_ce {
	float: left;
	width: 362px;
	background: url(../images/shouyetanchu_16.jpg) repeat-x;
	height: 64px;
	overflow: hidden
}

.tj_tanchudivxia_ri {
	float: left;
	width: 8px;
	background: url(../images/shouyetanchu_17.jpg) no-repeat;
	height: 64px;
	overflow: hidden
}

.tj_tanchudivsh_cezuo .li1 {
	float: left;
	width: 140px;
	height: 25px;
	color: #80A444;
	font-size: 14px;
	font-weight: bold;
	background: url(../images/index_fenye1_3.jpg) no-repeat 0 2px;
	padding: 0 0 0 20px;
	margin: 26px 0 0 43px;
	display: inline
}

.tj_tanchudivzh_ri .denglu {
	width: 319px;
	height: auto;
	overflow: hidden;
	margin: 10px 0 0 43px;
}

.tj_tanchudivzh_ri .denglu .li1 {
	width: 319px;
	height: 40px;
	margin-top: 5px;
}

.tj_tanchudivzh_ri .denglu .input1 {
	width: 280px;
	height: 33px;
	border: none;
	line-height:33px;
	padding: 2px 0 0 5px;
	border:1px solid #E1DCC8;
}

.tj_tanchudivzh_ri .denglu .li2 {
	width: 319px;
	height: 25px;
	margin-top: 8px;
}

.tj_tanchudivzh_ri .denglu .li2 .changdi {
	float: left;
	width: 61px;
	height: 24px;
	margin-top: 5px;
}

.tj_tanchudivzh_ri .denglu .li2 .cdselect {
	float: left
}

.tj_tanchudivzh_ri .denglu .li3 {
	width: 319px;
	height: 10px;
}

.tj_tanchudivzh_ri .denglu .li3 .anniu {
	position: absolute;
	margin: 20px 0 0 200px;
}

.tj_tanchudivzh_ri .denglu .li3 .anniu .s1 {
	float: right;
    margin-top: 6px;
}

.tj_tanchudivzh_ri .denglu .li3 .anniu .s2 {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	color: #888886
}

.tj_tanchudivzh_ri .denglu .li3 .anniu .s2 a {
	color: #888886
}

.tanchudivout {
	display:none;
	width: auto;
	height: auto;
	overflow: hidden;
	background: #999
}

.tanchudiv {
	width: 504px;
	height: auto;
	overflow: hidden;
	margin: 0 auto
}

.tanchudivsh {
	width: 504px;
	height: 63px;
}

.tanchudivsh_le {
	float: left;
	width: 9px;
	height: 63px;
	background: url(../images/shouyetanchu_3.jpg) no-repeat;
	overflow: hidden
}

.tanchudivsh_ce {
	float: left;
	width: 487px;
	background: url(../images/shouyetanchu_4.jpg) repeat-x;
	height: 63px;
	overflow: hidden
}

.tanchudivsh_cezuo {
	float: left;
	width: 455px;
	height: 63px;
}

.tanchudivsh_ceyou {
	float: right;
	width: 32px;
	height: 33px;
}

.tanchudivsh_ri {
	float: left;
	width: 8px;
	background: url(../images/shouyetanchu_7.jpg) no-repeat;
	height: 63px;
	overflow: hidden
}

.tanchudivzh {
	width: 504px;
	height: auto;
	overflow: hidden;
	background: #EAE9D7 url(../images/shouyetanchu_10.jpg) repeat-y;
	clear: both
}

.tanchudivzh_ri {
	width: 504px;
	height: auto;
	overflow: hidden;
	background: url(../images/shouyetanchu_12.jpg) repeat-y right 0;
	height: auto;
	overflow: hidden
}

.tanchudivxia {
	width: 504px;
	height: 64px;
	clear: both
}

.tanchudivxia_le {
	float: left;
	width: 9px;
	height: 64px;
	background: url(../images/shouyetanchu_15.jpg) no-repeat;
	overflow: hidden
}

.tanchudivxia_ce {
	float: left;
	width: 487px;
	background: url(../images/shouyetanchu_16.jpg) repeat-x;
	height: 64px;
	overflow: hidden
}

.tanchudivxia_ri {
	float: left;
	width: 8px;
	background: url(../images/shouyetanchu_17.jpg) no-repeat;
	height: 64px;
	overflow: hidden
}

.tanchudivsh_cezuo .li1 {
	float: left;
	width: 244px;
	height: 25px;
	color: #80A444;
	font-size: 16px;
	font-weight: bold;
	background: url(../images/index_dengluxiao_10.jpg) no-repeat 0 2px;
	padding: 0 0 0 20px;
	margin: 26px 0 0 43px;
	display: inline
}

.tanchudivsh_cezuo .li2on {
	float: left;
	width: 55px;
	height: 26px;
	background: url(../images/index_dengluxiao_7.jpg) no-repeat;
	text-align: center;
	padding: 5px 0 0 0;
	color: #80A345;
	margin-left: 10px;
	font-size:13px;
	font-weight:bold;
	margin-top: 26px;
	cursor: pointer
}

.tanchudivsh_cezuo .li2off {
	float: left;
	width: 55px;
	height: 26px;
	text-align: center;
	padding: 5px 0 0 0;
	color: #716D54;
	margin-left: 10px;
	margin-top: 26px;
	cursor: pointer
}

.tanchudivzh_ri .denglu {
	width: 447px;
	height: auto;
	overflow: hidden;
	margin: 10px 0 15px 43px;
}

.tanchudivzh_ri .denglu .li1 {
	width: 447px;
	height: 35px;
	margin-top: 5px;
}

.tanchudivzh_ri .denglu .li1 .xinghao {
	color: red;
}

.tanchudivzh_ri .denglu .input1 {
	width: 250px;
	height: 30px;
	line-height:30px;
	border: 1px solid #CCC;
	padding-left: 5px;
	color: #898989
}

.tanchudivzh_ri .denglu .li1 .mimadiv {
	position: absolute;
	width: 258px;
	height: 20px;
	background: #FFF;
	padding: 10px 0 0 16px;
	margin: 2px 0 0 2px;
	color: #898989
}

.tanchudivzh_ri .denglu .li2 {
	width: 447px;
	height: 35px;
	margin-top: 10px;
	padding-top: 2px;
}

.tanchudivzh_ri .denglu .li2 .s1 {
	float: left;
	margin-top: 3px;
}

.tanchudivzh_ri .denglu .li2 .s2 {
	float: left;
	margin-top: 7px;
	margin-left: 5px;
	color: #5C5C5E;
	padding-top:2px;
}

.tanchudivzh_ri .denglu .li2 .s2 a {
	margin-top: 7px;
	margin-left: 50px;
	color: #5C5C5E;
	text-decoration: underline;
}

.qitadenglu {
	float: left;
	height: 34px;
	margin: 20px 0 0 30px;
}

.qitadenglu .s1 {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.qitadenglu .s2 {
	float: left;
	margin-left: 5px;
	margin-right:10px;
}

.qitadenglu .s3 {
	float: left;
	margin-left: 5px;
}

.tanchudivzh_ri .denglu .li3 {
	width: 447px;
	height: 3px;
}

.tanchudivzh_ri .denglu .li3 .anniu {
	position: absolute;
	margin: 38px 0 0 326px;
	width: 113px;
}

.tanchudivzh_ri .denglu .li3 .anniu .s1 {
	float: right
}

.tanchudivzh_ri .denglu .li3 .anniu .s2 {
	float: left;
	margin:9px 5px 0 10px;
	color: #888886;
	padding-top:2px;
}

.tanchudivzh_ri .denglu .li3 .anniu .s2 a {
	color: #888886;
	text-decoration: underline;
}
.popbutton{
	width:72px;
	height:30px;
	line-height: 30px;
}