
.user_content_right_b {
	height: auto;
	overflow: hidden;
	background: none repeat-y scroll 0 0 #F5F3E7;
    border-radius: 5px 5px 5px 5px;
}


.user_content_right_b2 {
	width: 286px;
	height: 54px;
	overflow: hidden;
	
}

.user_content_right_b2_1 {
	background: none repeat-y scroll 0 0 #F5F3E7;
    border-radius: 5px 5px 5px 5px;
	width: 272px;
	height: 28px;
	margin: 12px 0 0 12px;
	_margin: 5px 0 0 15px;
}

.user_content_right_b2_2 {
	width: 272px;
	height: 15px;
	margin: 1px 0 0 12px;
	clear: both
}

.user_content_right_b2_1 .s1 {
	float: left;
	display: inline
}

.user_content_right_b2_1 .s2 {
	float: left;
	margin-left: 6px;
	margin-top: 4px;
}

.user_content_right_b2_1 .s1 .inputlv {
	width: 202px;
	padding-left:5px;
	height: 27px;
	border: 1px solid #C5C5C5;
}

.user_content_right_b2_1 .s2 .sousuo {
	width: 53px;
	height: 21px \9;
	background: none repeat scroll 0 0 #80A545;
	border: 1px solid #6D8F29;
    border-radius: 5px 5px 5px 5px;	color: #FFF;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	line-height: 21px;
    text-align: center;
    vertical-align: middle;
}