
.m10 {
	width: 614px;
	height: 5px;
	clear: both;
	overflow: hidden
}

.meishineirong {
	clear: both;
	width: 614px;
	height: 249px;
	_height: 259px;
	margin-left: 27px;
    margin-top: 15px;
	overflow: hidden;
	position: relative;
	top: 0px;
}

.meishineirong_1 {
	width: 614px;
	height: 38px;
	clear: both;
}

.meishineirong_1 .le {
	float: left;
	width: 285px;
	height: 38px;
	overflow: hidden
}

.meishineirong_1 .ce {
	float: left;
	width: 25px;
	height: 35px;
	margin: 8px 0 0 3px;
	display: inline;
	overflow: hidden
}

.meishineirong_1 .ri {
	float: left;
	width: 285px;
	height: 38px;
	overflow: hidden
}

.meishineirong_2 {
	width: 592px;
	height: 88px;
	_margin-top: 5px;
}

.meishineirong_2 .texta {
	width: 5867px;
	height: 76px;
	border: none;
	color: #A1A1A1;
	border:1px solid #E1DCC8;
	overflow: auto;
	font-size: 12px;
	max-width: 586px;
	max-height: 76px;
	margin-top:10px;
}

.meishineirong_3 {
	width: 614px;
	height: 38px;
	margin-top: 13px;
}

.meishineirong_3 .le {
	float: left;
	width: 215px;
	height: 38px;
	overflow: hidden
}

.meishineirong_3 .ri {
	float: left;
	width: 366px;
	height: 38px;
	margin-left: 10px;
	overflow: hidden
}

.meishineirong_4 {
	margin-bottom: 15px;
	width: 615px;
	height: 40px;
	margin-top: 20px;
}

.meishineirong_4 .le {
	float: left;
	width: 253px;
	height: 26px;
	margin-top: 8px;
}

.meishineirong_4 .le span {
	float: left;
	margin-top: 3px;
}

.meishineirong_4 .le .az1 {
	float: left;
	margin-left: 5px;
}

.meishineirong_4 .le .az2 {
	float: left;
	margin-left: 10px;
}


.meishineirong_4 .ri {
	float: left;
	width: 220px;
	height: 28px;
	margin: 4px 0 0 134px
}

.meishineirong_4 .ri .s1 {
	float: left;
	margin-top: 12px;
}

.meishineirong_4 .ri .s2 {
	float: left;
	margin: 9px 0 0 2px;
}

.meishineirong_4 .ri .s3 {
	float: left;
	margin: 12px 0 0 3px;
}

.meishineirong_4 .ri .s4 {
	float: left;
	margin-left: 20px;
	margin-top: 11px;
	
}

.meishineirong_4 .ri .s4 a {
	color: #888;
	text-decoration: underline
}

.meishineirong_4 .ri .s4 a:hover {
	color: #000;
	text-decoration: none
}

.meishineirong_4 .ri .s5 {
	float: left;
	margin: 5px 0 0 10px;
}

.index_content_left_a {
	margin-left: 1px;
	height: auto;
}

.index_content_left_a_1 {
	width: 655px;
	height: 6px;
	background: url(../images/index_btm_3.jpg) no-repeat;
	overflow: hidden
}

.index_content_left_a_2 {
    background: none repeat-y scroll 0 0 #F0ECDD;
    height: 35px;
    overflow: hidden;
    padding: 12px 0;
    width: 100% !important;
    border-radius: 5px;
}

.index_content_left_a_2 .input_file {
	opacity: 0;
    filter:alpha(opacity:0);
    display:block;
    cursor: pointer;
    height: 35px;
    opacity: 0;
    left:0;
    font-size:80px;
    position: absolute;
    width: 597px;
    z-index: 200;
}

.index_content_left_a_3 {
	width: 655px;
	height: 7px;
	background: url(../images/index_btm_16.jpg) no-repeat;
	overflow: hidden
}

.index_content_left_a_2 .input1 {
    border: 1px solid #E1DCC8;
    border-radius: 5px 5px 5px 5px;
    height: 31px;
    left: 30px;
    line-height: 31px;
    padding-left: 5px;
    position: relative;
    top: -35px;
    width: 467px;
    z-index: 1;
}

.index_content_left_a_2 .input111 {
    border: 1px solid #E1DCC8;
    color: #A1A1A1;
    height: 33px;
    left: 30px;
    line-height: 33px;
    overflow: hidden;
    padding: 0 0 0 35px;
    position: relative;
    top: -35px;
    width: 435px;
    z-index: 1;
}

.index_content_left_a_111 {
	background-color: #D9D4CF;
    font-size: 14px;
    font-weight: bold;
    height: 29px;
    overflow: hidden;
    padding: 12px 0 0 30px;
    position: relative;
    top: -12px;
}


.uploadBox{
	background: url(../images/uploadInput.png) no-repeat scroll 0 0 transparent;;
	cursor: pointer;
    height: 37px;
    margin-left:28px;
    overflow: hidden;
    position: relative;
    width: 597px;
}

#upload-loading-box {
   height: 180px;
   background: none repeat-y scroll 0 0 #F0ECDD;
   text-align: center;
   box-shadow: 1px 1px 3px #B4AAA0;
   z-index: 1000;
}
.uploadbutton{
	width:72px;
	height:30px;
	line-height: 30px;
}