<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>bocai</display-name>	
	<distributable/>
	
	<servlet> 
        <servlet-name>authCodeGenerator</servlet-name> 
        <servlet-class>com.bocai.web.AuthCodeGenerator</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>authCodeGenerator</servlet-name> 
        <url-pattern>/authCode.jsp</url-pattern> 
    </servlet-mapping>
    
    <servlet>
		<servlet-name>bocai-rest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup> 
	</servlet>

	<servlet-mapping>
		<servlet-name>bocai-rest</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
	
	<!-- *************Configuration for Spring*************** -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:net/bull/javamelody/monitoring-spring.xml
			classpath:applicationContext*.xml
		</param-value>
	</context-param>
	
	<!-- ******************* javamelody: monitor for web container -->
	<filter>
            <filter-name>monitoring</filter-name>
            <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
    </filter>
    <filter-mapping>
            <filter-name>monitoring</filter-name>
            <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
            <listener-class>net.bull.javamelody.SessionListener</listener-class>
    </listener>
	
	<!-- *************Open Session In View filter************ -->
	<filter>
		<filter-name>hibernateFilter</filter-name>
  		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  	</filter>
	<filter-mapping>
  		<filter-name>hibernateFilter</filter-name>
  		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 
	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
     --> 
	
	<!-- *************Character Encoding filter************* -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class> org.springframework.web.filter.CharacterEncodingFilter 
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	<!-- *************Configuration for Struts2************** -->
	<filter>
        <filter-name>struts-prepare</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
        <init-param>
        	<param-name>actionPackages</param-name>
        	<param-value>com.bocai.web.action</param-value>
        </init-param>
    </filter>
    
    <filter>
        <filter-name>struts-execute</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>struts-prepare</filter-name>
        <url-pattern>*.bc</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>struts-execute</filter-name>
        <url-pattern>*.bc</url-pattern>
    </filter-mapping>
  
  	<jsp-config>
  		<taglib>
  			<taglib-uri>bocai-tags</taglib-uri>
  			<taglib-location>/WEB-INF/bocai.tld</taglib-location>
  		</taglib>
  	</jsp-config>
  	
  	<error-page>
  		<error-code>404</error-code>
  		<location>/WEB-INF/page/404.jsp</location>
  	</error-page>

	<welcome-file-list>
		<welcome-file>main.bc</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	 <login-config>
             <auth-method>BASIC</auth-method>
             <realm-name>Monitoring</realm-name>
     </login-config>
     <security-role>
             <role-name>monitoring</role-name>
     </security-role>
     <security-constraint>
             <web-resource-collection>
                     <web-resource-name>Monitoring</web-resource-name>
                     <url-pattern>/monitoring</url-pattern>
             </web-resource-collection>
             <auth-constraint>
                     <role-name>monitoring</role-name>
             </auth-constraint>
     </security-constraint>
</web-app>